.miniMessage {
	border-bottom: 1px solid #EDEDED;
	font-size: 105%;
	padding: 3px 0;
}

.username {
	font-weight: bold;
	margin-right: 10px;
}

.timestamp {
	color: #999;
}

.message {
	padding: 1px 0 5px;
}

.username a { color: #519eec; }
.owner .username a { color: #000; }

.newMiniMessagesBar {
    background-color: #F2F7FC;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #0066CC;
    cursor: pointer;
    padding: 3px;
    margin: 1px 0 6px;
    text-align: center;
}

.moreMiniMessagesBar {
    background-color: #F3F3F3;
    border: 1px solid #DDD;
    border-radius: 4px;
    color: #999;
    cursor: pointer;
    padding: 3px;
    margin: 6px 0 0;
    text-align: center;
}
.noMore {
    background-color: #fff;
    cursor: default;
}

img { border: none }

#newMiniMessage { text-align: center }

.newMiniMessageForm textarea { font-size: 1.1em; font-weight: bold; margin: .5em 0 0; padding: .5em; width: 85% }
.newMiniMessageForm .newMiniMessageActions { margin: 0 auto; padding: 0; text-align: right; width: 86% }

.newMiniMessageForm .newMiniMessageActions .miniMessageCounter { font-size: 1.1em; font-weight: bold }
.newMiniMessageForm .newMiniMessageActions .warning { color: #DE1A00; }

.miniMessages .newMiniMessageForm input.button { margin: .5em 0 1em 1em }
