.content { font: normal 11px / 14px 'Lucida Grande',Verdana,Arial,sans-serif; height: 100% }
.links { float: right }

/* STYLES SEARCH FIELD */
.customSearchBox { float: right }
.customSearchBox form { margin: 0 10px 0 0 }
.customSearchBox .wideDefinition { border: 1px solid #ccc; padding: .2em 0 .2em .2em }
.customSearchBox .searchBox { background: none transparent; border: none; width: 105px }
.customSearchBox .button { background: transparent url(${basePath}/icons/gadget_library_search.png) no-repeat left center; border: none; cursor: pointer; width: 20px }

/* Comments, threads and like actions */
.dataList td.actions { background-color: #f8f8f8; border-top:  1px dotted #ddd; font-size: 10px }
  .actions .actionItem { margin-right: .5em }
  .actions a.actionItem:link, .actions a.actionItem:visited { color: #9db6d1 }
  .actionItem img { margin: 0 .3em -0.2em -0.2em }

.dataList .documentThread { margin-top: 0.5em; padding: 0 0 0 0.4em; width: 100% }
  table.messageBlock { border-spacing: 0; width: 100% }
.dataList .documentThread td { border-top: 1px dotted #ededed; border-bottom: none; padding: .2em 0 0 }
.dataList .messageUserInfos { float: left; margin-right: .5em }
.dataList .messageContent { color: #777; font-size: 110%; line-height: 118%; margin-top: 0.36em }
.dataList .messageBody { width: 82% }
.dataList .messageReply { width: 18% }
	.messageReply .timestamp { color: #ccc; font-size: 80% }
.dataList td.messageRow { border: none; padding: 0 }

.newMessageForm, .replyMessageForm { margin: 0 auto; width: 90% }
.newMessageForm textarea, .replyMessageForm textarea { height: 35px; margin: .5em 0 0; width: 75% }