.miniMessage {
	border-bottom: 1px solid #EDEDED;
	font-size: 105%;
	padding: 3px 0;
}

.username {
	font-weight: bold;
	margin-right: 10px;
}

.timestamp {
	color: #999;
}

.message {
	padding: 1px 0 5px;
}

.username a { color: #519eec; }
.owner .username a { color: #000; }

.newMiniMessagesBar {
    background-color: #F2F7FC;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #0066CC;
    cursor: pointer;
    padding: 3px;
    margin: 1px 0 6px;
    text-align: center;
}

.moreMiniMessagesBar {
    background-color: #F3F3F3;
    border: 1px solid #DDD;
    border-radius: 4px;
    color: #999;
    cursor: pointer;
    padding: 3px;
    margin: 6px 0 0;
    text-align: center;
}
.noMore {
    background-color: #fff;
    cursor: default;
}


img { border: none }

textarea .miniMessageText {
   border: 1px solid #C7C7C7;
   font: bold 12px 'Lucida Grande',Verdana,Arial,sans-serif;
   width: 90%;
   margin: 5px;
}

.toolbarActions { float: right }

.createMiniMessageForm { margin: 0; padding: 3px; text-align: center; }
.miniMessageText { font: normal 12px 'Lucida Grande',Verdana,Arial,sans-serif; overflow: auto;
	padding: 4px; width: 270px;}
.miniMessageCounter {
	font-size :110%;
	font-weight : bold;
	padding-right: 10px;
}

.warning {
	color : #DE1A00;
}
