.activitiesContainer {
	margin:  3px 0;
	font-size: 105%;
}

.activity {
	margin:	0 0 5px;
}

.timestamp {
	float: left;
	color: #999;
}

.activityMessage { margin: 0 0 0 8em }

.newActivitiesBar {
    background-color: #F2F7FC;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #0066CC;
    cursor: pointer;
    padding: 3px;
    margin: 1px 0 6px;
    text-align: center;
}

.moreActivitiesBar {
    background-color: #F3F3F3;
    border: 1px solid #DDD;
    border-radius: 4px;
    color: #999;
    cursor: pointer;
    padding: 3px;
    margin: 6px 0 0;
    text-align: center;
}
.noMore {
    background-color: #fff;
    cursor: default;
}

/* Style for fullScale gadget */
.fullScale .activity { border-bottom: 1px solid #ddd; margin: 0; padding: .7em .5em .8em }
