img {
	border: none;
}

#pageNavigationControls {
    border-bottom: 1px solid #3399FF;
    margin: 0 0 5px;
    padding: 2px 0 0;
    text-align: center;
}

#pageNavigationControls input {
    margin-left: 5px;
}

#pageNavigationControls span {
    color: #757575;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 5px;
    vertical-align: top;
}

.usersList .user {
  height: 30px;
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #EAEAEA;
}

.usersList .user:hover {
  background-color: #EFF1F3;
}

.usersList .user span {
  font-size: 110%;
  padding: 0 10px 5px 0;
  vertical-align: top;
}

.usersList .user .avatar {
  margin: 0 15px;
  height: 40px;
	width: 50px;
}

.usersList .user .avatar img {
  max-height: 30px;
	max-width: 30px;
	width: 30px;
}
