/* 06/14/2011 */

.content { font: normal 11px / 14px 'Lucida Grande',Verdana,Arial,sans-serif ; height: 100% }

h3 { border-bottom: 1px solid #ddd; margin: 8px 0; padding: 0 0 10px }

.toolBox { padding: 2px 0 10px }
	.breadcrumb { float: left; width: 85% ; font-size: 9px}
	.links { float: right }

input.searchBox {
    font: 11px 'Lucida Grande',Verdana,Arial,sans-serif;
    padding: 1px 0;
    float: left;
}

.dataList { background: none repeat scroll 0 0 white; border-collapse: collapse; margin: 0; width: 100% }
  .dataList thead th { border-bottom: 1px solid #C7C7C7; color: #666666; font-size: 11px; font-weight: normal; padding: 5px 3px; text-align: left }
  .dataList .iconColumn { text-align: center; width: 20px }
  .dataList td { font-size: 11px; background: none transparent; border-color: #C7C7C7 #000000; border-style: solid none; border-width: 0 0 1px; margin: 0; padding: 5px 3px }

.dataRowEven { background-color: #f2f7fc }
.clear { clear:both }

img { border: none }

/* pagination controls */
#pageNavigationControls span {
color:#757575;
font-size:13px;
font-weight:bold;
margin:10px 5px;
vertical-align:top;
}

#pageNavigationControls {
border-bottom:1px solid #3399FF;
margin:0px;
padding:2px 0px 0px;
text-align:center;
margin-bottom: 5px;
}

#pageNavigationControls input {
margin-left:5px;
}

/* search box */

/* STYLES SEARCH FIELD */
.customSearchBox .wideDefinition {border: 1px solid #ccc; padding: 2px 0 2px 2px; width: 150px;}
.customSearchBox .searchBox {background: none transparent; border:none; width: 130px;}
.customSearchBox { float: left }
.customSearchBox .button {background: transparent url(custom_search.png) no-repeat left center; border:none; cursor: pointer; width: 20px;}

